---
import { getSanityImageURL, formatBlogPostDate } from "../utils/helpers.js";

export interface Props {
  post: any;
  idx: number;
}
const { post, idx } = Astro.props;
---

<article class="cardPreview shadow">
  <a href={`/article/${post.slug.current}`}>
    {
      post.formatData.slug.current === "dossiers-mensuels" && (
        <div class="label shadow">
          <span> dossier </span>
        </div>
      )
    }
    {
      idx != 5 && idx != 6 && post.mainImage && (
        <img
          class="post-main__img"
          loading="lazy"
          src={
            getSanityImageURL(post.mainImage).url().includes("?")
              ? getSanityImageURL(post.mainImage).url() + "&w=600"
              : getSanityImageURL(post.mainImage).url() + "?w=600"
          }
          alt={post.alt}
        />
      )
    }
    <div class="cardMain">
      <h2>
        <span class="ariane"
          >{
            post.formatData.slug.current === "breves" ||
            post.formatData.slug.current === "tribune"
              ? post.formatData.title
              : post.locationData[0].title
          }</span
        > -{" "}
        {post.title}
      </h2>
      <p>{post.excerpt}</p>
    </div>
  </a>
  <footer>
    <time>{formatBlogPostDate(post.publishedAt)}</time>
  </footer>
</article>

<style>
  .cardPreview {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
  }

  p {
    margin-bottom: 0px !important;
  }

  .cardMain {
    padding: 12px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover > .post-main__img {
    opacity: 0.8;
  }

  .post-main__img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    transition: 0.2s;
  }

  .title,
  .author,
  .publish-date {
    margin: 0;
  }

  .publish-date,
  .author {
    font-size: 1.25rem;
    color: var(--theme-text-lighter);
  }

  .title {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--theme-text);
  }

  .label {
    z-index: 1;
    position: absolute;
    background-color: var(--color-red);
    right: var(--margin);
    text-transform: uppercase;
    color: var(--color-white);
    padding: 4px var(--margin);
    border-radius: 0 0 10px 10px;
    font-family: var(--subtitle-font);
    font-size: 1.2rem;
  }

  footer {
    padding-left: var(--margin);
    margin-top: auto;
  }
</style>
