---
import SanityPortableText from "./SanityPortableText.astro";
import { getSanityImageURL, formatBlogPostDate } from "../utils/helpers.js";
import Container from "./Container.astro";

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Container>
  <h1>{post.title}</h1>
  <p class="excerpt">{post.excerpt}</p>
  <div class="articleImage">
    {
      post.mainImage ? (
        <img
          class="post-main__img"
          alt={post.alt}
          srcset={`${
            getSanityImageURL(post.mainImage).url().includes("?")
              ? getSanityImageURL(post.mainImage).url() + "&w=460"
              : getSanityImageURL(post.mainImage).url() + "?w=460"
          } 460w,
            ${
              getSanityImageURL(post.mainImage).url().includes("?")
                ? getSanityImageURL(post.mainImage).url() + "&w=980"
                : getSanityImageURL(post.mainImage).url() + "?w=980"
            } 980w
              `}
          sizes="(max-width: 600px) 460w,
            980w"
        />
      ) : (
        <> </>
      )
    }
    <p class="altText" aria-hidden="true">{post.alt}</p>
  </div>
  <SanityPortableText portableText={post.body} />
  <footer>
    <p style="text-align: end;">
      <time>Le {formatBlogPostDate(post.publishedAt)}</time>
      <br />
      {
        formatBlogPostDate(post.publishedAt) !=
          formatBlogPostDate(post._updatedAt) && (
          <time> (Mis à jour le {formatBlogPostDate(post._updatedAt)})</time>
        )
      }
    </p>

    {
      post.authorData &&
        (post.authorData.bio ? (
          <>
            <div class="authorCard shadow">
              {post.authorData.image && (
                <img
                  class="authorCardImage shadow"
                  width="80"
                  height="80"
                  loading="lazy"
                  alt=""
                  src={getSanityImageURL(post.authorData.image).url()}
                />
              )}
              <h3>{post.authorData.name}</h3>
              <p class="description">
                <SanityPortableText portableText={post.authorData.bio} />
              </p>
              <div class="social-links">
                {post.authorData.twitter && (
                  <a href={post.authorData.twitter} target="_blank">
                    <i
                      title={`Voir ${post.authorData.name} sur Twitter`}
                      class="fab fa-twitter"
                    />
                  </a>
                )}
                {post.authorData.facebook && (
                  <a href={post.authorData.facebook} target="_blank">
                    <i
                      title={`Voir ${post.authorData.name} sur Facebook`}
                      class="fab fa-facebook"
                    />
                  </a>
                )}
                {post.authorData.blog && (
                  <a href={post.authorData.blog} target="_blank">
                    <i
                      title={`Consulter le site de ${post.authorData.name}`}
                      class="fa fa-globe"
                    />
                  </a>
                )}
              </div>
            </div>
          </>
        ) : (
          <i>{post.authorData.name}</i>
        ))
    }
  </footer>
</Container>

<style>
  .post-main__img {
    width: 100%;
    height: auto;
    margin-bottom: var(--margin);
  }

  .excerpt {
    font-family: var(--body-italic);
  }

  .authorCard {
    background-color: var(--color-light);
    height: auto;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    position: relative;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    border-radius: 15px;
    padding: 0 var(--margin);
    align-items: center;
  }

  .authorImg {
    background-color: white;
    outline: 8px solid var(--color-light);
    border-radius: 50%;
  }

  .authorCardImage {
    object-fit: cover;
    background-color: white;
    height: 95px;
    width: 95px;
    position: absolute;
    top: -45px;
    left: -24px;
    border-radius: 50%;
  }

  .authorCard h3 {
    font-family: "Sriracha", arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: $otherAccent;
  }

  .description {
    margin-bottom: 20px;
  }

  .social-links {
    text-align: end;
    font-size: 1.2rem;
  }

  .social-links a {
    color: var(--color-purple);
    text-decoration: none;
    margin-left: 6px;
  }

  .fa-facebook:hover {
    transition: 0.2s;
    color: #3b5998;
  }
  .fa-twitter:hover {
    transition: 0.2s;
    color: #00acee;
  }
  .fa-globe:hover {
    transition: 0.2s;
    color: #1b9c71;
  }

  @media only screen and (min-width: 768px) {
    .authorCard {
      margin-left: calc(2 * var(--margin));
    }
  }
</style>
