---
import {
    getSanityImageURL,
    formatEventDate,
    formatLongEventDate,
} from "../utils/helpers.js";
import SanityPortableText from "./SanityPortableText.astro";
import Copylink from "./Copylink.astro";

export interface Props {
    event: any;
    idx: number;
}

const { event, idx } = Astro.props;

let date = new Date(event.eventDate);

let eventDate = {
    month: date.toLocaleString("default", {
        month: "short",
    }),
    day: date.toLocaleString("default", {
        day: "numeric",
    }),
    hour: date.toLocaleString("default", {
        hour: "numeric",
    }),
    minute: date.toLocaleString("default", {
        minute: "numeric",
    }),
};
---

<article id={event.slug.current} class="event shadow">
    <time class="calendar shadow">
        {eventDate.month}
        <b>{eventDate.day}</b>
    </time>
    {
        event.mainImage && (
            <img
                class="event__img"
                loading="lazy"
                src={
                    getSanityImageURL(event.mainImage).url().includes("?")
                        ? getSanityImageURL(event.mainImage).url() + "&w=600"
                        : getSanityImageURL(event.mainImage).url() + "?w=600"
                }
                alt={event.alt}
            />
        )
    }
    <div class="cardMain">
        <div class="row">
            <h2>
                {event.title}
                {
                    event.endDate ? (
                        <time>
                            (Du {formatLongEventDate(event.eventDate)} au{" "}
                            {formatLongEventDate(event.endDate)})
                        </time>
                    ) : (
                        <time>({formatEventDate(event.eventDate)})</time>
                    )
                }
            </h2>
            <Copylink
                slug={event.slug.current}
                text={event.excerpt}
                title={event.title}
            />
        </div>

        <SanityPortableText portableText={event.excerpt} />
        {
            event.external && (
                <a href={event.external} target="_blank" class="externalLink">
                    {" "}
                    En savoir plus
                </a>
            )
        }
    </div>
</article>

<style>
    .calendar {
        position: absolute;
        text-align: center;
        height: 52px;
        aspect-ratio: 1;
        background-color: var(--color-red);
        color: var(--color-white);
        font-size: 0.9rem;
    }

    b {
        font-family: var(--quote-font);
        font-size: 1.6rem;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    time {
        white-space: nowrap;
    }

    .event {
        display: flex;
        flex-direction: column;
        background-color: var(--color-white);
    }

    .event__img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .cardMain {
        padding: 1rem 2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: var(--color-red);
    }

    .externalLink {
        box-shadow: var(--shadow);
        text-decoration: none;
        align-self: center;
        color: var(--color-white);
        padding: var(--margin);
        background-color: var(--color-purple);
    }

    .fa-facebook:hover {
        transition: 0.2s;
        color: #3b5998;
    }

    .fa-twitter:hover {
        transition: 0.2s;
        color: #00acee;
    }

    .fa-rss-square:hover {
        transition: 0.2s;
        color: #ee802f;
    }

    @media only screen and (min-width: 768px) {
        .event__img {
            width: 368px;
        }

        .event {
            flex-direction: row;
        }
    }
</style>
