---
import { getAllCategories, getAllLocations, getAllEvents } from "../lib/api.js";
import Medias from "./Medias.astro";
import isAfter from "date-fns/isAfter/index.js";
const allCategoriesData = await getAllCategories();
const allLocationsData = await getAllLocations();
const allEvents = await getAllEvents();
const nextEvent =
    allEvents.find(
        (date) =>
            isAfter(new Date(date.eventDate), new Date()) === true &&
            date.priority === true
    ) ||
    allEvents.find(
        (date) => isAfter(new Date(date.eventDate), new Date()) === true
    );
---

<nav class="sidenav">
    {
        nextEvent && (
            <>
                <h2>AGENDA</h2>
                <ul class="navbarItems">
                    <li class="event">
                        <div class="row">
                            <time class="calendar shadow">
                                {new Date(nextEvent.eventDate).toLocaleString(
                                    "default",
                                    {
                                        month: "short",
                                    }
                                )}
                                <b>
                                    {new Date(
                                        nextEvent.eventDate
                                    ).toLocaleString("default", {
                                        day: "numeric",
                                    })}
                                </b>
                            </time>
                            <p>{nextEvent.title}</p>
                        </div>
                    </li>
                    <li class="row button">
                        <a href="/agenda">Toutes les dates</a>
                    </li>
                </ul>
            </>
        )
    }
    <h2>THÉMATIQUES</h2>
    <ul class="navbarItems">
        {
            allCategoriesData.map((category) => (
                <li class="row button">
                    <a href={`/thematique/${category.slug.current}`}>
                        {category.title}
                    </a>
                </li>
            ))
        }
    </ul>
    <h2>INFOS LOCALES</h2>
    <ul class="navbarItems">
        {
            allLocationsData.map((location) => (
                <>
                    <li class="row button">
                        <a href={`/local/${location.slug.current}`}>
                            {location.title}
                        </a>
                    </li>
                </>
            ))
        }
    </ul>

    <h2>RESTEZ INFORMÉS</h2>
    <Medias />
    <li class="row button">
        <a href="/contact">Nous contacter</a>
    </li>
</nav>

<style>
    .sidenav h2 {
        padding: var(--margin);
        padding-bottom: 0;
        font-size: 1.2rem;
    }

    .event {
        color: var(--color-black);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        border-bottom: solid 2px var(--color-light);
        padding: 5px var(--margin);
    }

    .event p {
        font-family: var(--quote-font);
        line-height: 1;
        margin-bottom: 0;
        margin-left: var(--margin);
    }

    .calendar {
        position: relative;
        text-align: center;
        height: 52px;
        aspect-ratio: 1;
        background-color: var(--color-red);
        color: var(--color-white);
        font-size: 0.9rem;
    }

    b {
        font-family: var(--quote-font);
        font-size: 1.6rem;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        color: var(--color-purple);
    }
</style>
